# Base de datos PostgreSQL
POSTGRES_DB=db_transportes
POSTGRES_USER=transportes
POSTGRES_PASSWORD=postgres_password

# Backend Spring Boot
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
JWT_SECRET=jwt_secret_key
JWT_EXPIRATION=2592000000

# Usuarios iniciales
SUPERADMIN_PASSWORD=contraseña
ADMIN_PASSWORD=contraseña

# Puertos de Docker Compose
FRONTEND_PORT=4200
BACKEND_PORT=8080
POSTGRES_PORT=5433
